<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BBDPDoctor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginVerificationServlet.java</display-name>
    <servlet-name>LoginVerificationServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.LoginVerificationServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVerificationServlet.java</servlet-name>
    <url-pattern>/LoginVerificationServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountSettingServlet.java</display-name>
    <servlet-name>AccountSettingServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.AccountSettingServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSettingServlet.java</servlet-name>
    <url-pattern>/AccountSettingServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet.java</display-name>
    <servlet-name>LogoutServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.LogoutServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet.java</servlet-name>
    <url-pattern>/LogoutServlet.java</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>bbdp.db.controller.ServletListener</listener-class>
  </listener>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost/</param-value>
  </context-param>
  <context-param>
    <param-name>database</param-name>
    <param-value>bbdp</param-value>
  </context-param>
  <context-param>
    <param-name>user_name</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>15192353</param-value>
  </context-param>
  <servlet>
    <servlet-name>PatientSearchServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSearchServlet</servlet-name>
    <url-pattern>/PatientSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotificationServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.NotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/NotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PushServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.PushServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushServlet</servlet-name>
    <url-pattern>/PushServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientBasicInformationServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientBasicInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientBasicInformationServlet</servlet-name>
    <url-pattern>/PatientBasicInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientFolderServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientFolderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientFolderServlet</servlet-name>
    <url-pattern>/PatientFolderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthTrackingServlet.java</display-name>
    <servlet-name>HealthTrackingServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.HealthTrackingServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthTrackingServlet.java</servlet-name>
    <url-pattern>/HealthTrackingServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientHealthTrackingServlet.java</display-name>
    <servlet-name>PatientHealthTrackingServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientHealthTrackingServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientHealthTrackingServlet.java</servlet-name>
    <url-pattern>/PatientHealthTrackingServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionnaireTempStorageServlet.java</display-name>
    <servlet-name>QuestionnaireTempStorageServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.QuestionnaireTempStorageServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionnaireTempStorageServlet.java</servlet-name>
    <url-pattern>/QuestionnaireTempStorageServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionnairePoolServlet.java</display-name>
    <servlet-name>QuestionnairePoolServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.QuestionnairePoolServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionnairePoolServlet.java</servlet-name>
    <url-pattern>/QuestionnairePoolServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionnaireModuleServlet.java</display-name>
    <servlet-name>QuestionnaireModuleServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.QuestionnaireModuleServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionnaireModuleServlet.java</servlet-name>
    <url-pattern>/QuestionnaireModuleServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstVisitQuestionnaireModuleServlet.java</display-name>
    <servlet-name>FirstVisitQuestionnaireModuleServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.FirstVisitQuestionnaireModuleServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstVisitQuestionnaireModuleServlet.java</servlet-name>
    <url-pattern>/FirstVisitQuestionnaireModuleServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientMedicalRecordServlet.java</display-name>
    <servlet-name>PatientMedicalRecordServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientMedicalRecordServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientMedicalRecordServlet.java</servlet-name>
    <url-pattern>/PatientMedicalRecordServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientQuestionnaireServlet.java</display-name>
    <servlet-name>PatientQuestionnaireServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientQuestionnaireServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientQuestionnaireServlet.java</servlet-name>
    <url-pattern>/PatientQuestionnaireServlet.java</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/HomepageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.HomepageServlet</servlet-class>
  </servlet>
</web-app>