<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BBDPDoctor</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>bbdp.db.controller.ServletListener</listener-class>
  </listener>
  <listener>
    <listener-class>bbdp.doctor.controller.QuestionImageServletListener</listener-class>
  </listener>
  <listener>
    <listener-class>bbdp.doctor.controller.InstructionFroalaServletListener</listener-class>
  </listener>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost/</param-value>
  </context-param>
  <context-param>
    <param-name>database</param-name>
    <param-value>bbdp</param-value>
  </context-param>
  <context-param>
    <param-name>user_name</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>15192353</param-value>
  </context-param>
  <servlet>
    <servlet-name>QuestionnairePoolServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.QuestionnairePoolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionnairePoolServlet</servlet-name>
    <url-pattern>/QuestionnairePoolServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionnaireModuleServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.QuestionnaireModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionnaireModuleServlet</servlet-name>
    <url-pattern>/QuestionnaireModuleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionImageServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.QuestionImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionImageServlet</servlet-name>
    <url-pattern>/QuestionImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientQuestionnaireServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientQuestionnaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientQuestionnaireServlet</servlet-name>
    <url-pattern>/PatientQuestionnaireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientMedicalRecordServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientMedicalRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientMedicalRecordServlet</servlet-name>
    <url-pattern>/PatientMedicalRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientSearchServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSearchServlet</servlet-name>
    <url-pattern>/PatientSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientFolderServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientFolderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientFolderServlet</servlet-name>
    <url-pattern>/PatientFolderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoctorProfilePictureServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.DoctorProfilePictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorProfilePictureServlet</servlet-name>
    <url-pattern>/DoctorProfilePictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientBasicInformationServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientBasicInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientBasicInformationServlet</servlet-name>
    <url-pattern>/PatientBasicInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotificationServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.NotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/NotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClinicHoursServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.ClinicHoursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClinicHoursServlet</servlet-name>
    <url-pattern>/ClinicHoursServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.HomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/HomepageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PushTimerServlet</servlet-name>
    <servlet-class>bbdp.push.fcm.PushTimerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushTimerServlet</servlet-name>
    <url-pattern>/PushTimerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginVerificationServlet.java</display-name>
    <servlet-name>LoginVerificationServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.LoginVerificationServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVerificationServlet.java</servlet-name>
    <url-pattern>/LoginVerificationServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountSettingServlet.java</display-name>
    <servlet-name>AccountSettingServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.AccountSettingServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSettingServlet.java</servlet-name>
    <url-pattern>/AccountSettingServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet.java</display-name>
    <servlet-name>LogoutServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.LogoutServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet.java</servlet-name>
    <url-pattern>/LogoutServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthTrackingServlet.java</display-name>
    <servlet-name>HealthTrackingServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.HealthTrackingServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthTrackingServlet.java</servlet-name>
    <url-pattern>/HealthTrackingServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientHealthTrackingServlet.java</display-name>
    <servlet-name>PatientHealthTrackingServlet.java</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientHealthTrackingServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientHealthTrackingServlet.java</servlet-name>
    <url-pattern>/PatientHealthTrackingServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientInstructionServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.PatientInstructionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientInstructionServlet</servlet-name>
    <url-pattern>/PatientInstructionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InstructionFroalaServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.InstructionFroalaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructionFroalaServlet</servlet-name>
    <url-pattern>/InstructionFroalaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>bbdp.doctor.controller.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
</web-app>